body {
  font-family: 'Optima', serif;
  }

#wrap {
  width: 960px;
  margin: 0 auto;
}

/* *********************
        HEADER
********************* */
header {
  overflow: hidden;
  padding: 30px 0;
}

.logo {
  float: left;
  padding: 30px 0;
}

.main-headings {

}

.main-headings h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  padding: 30px 0;
}

.main-headings h2 {
  font-size: 11px;
  list-style-type: none;
}

#logo ul li {
  float: left;
}

#social li {
  display: inline;
  float: right;
}

#contact {
  padding-left: 10px;
}

#contact li {
  display: inline;
  float: right;
  padding: 1px;
}

/* *********************
        BODY
********************* */

#notebook {
  background-image: url('../img/list-bg.png');
  background-repeat: no-repeat;

}

#notebook ul li {
  list-style-type: none;
  text-align: left;

}

/* *********************
        FOOTER
********************** */





/* **********************************
          CLEAR FIX
*********************************** */


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { 
  height: 1%; 
}
.clearfix { 
  display: block; 
}
/* close commented backslash hack */